@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Dark Mode */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

/* Apply Dark Mode Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }


  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.react-draggable {
  touch-action: none;
  user-select: none; 
}

@layer utilities {
  @keyframes slideDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.4s ease-out forwards;
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-animation {
  animation: fadeInSlide 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.4s ease-out;
}
